@import '../../../app/mixins.scss';

.footer__wrapper {
  position: absolute;
  display: grid;
  bottom: 0;
  left: 0;
  place-content: center;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: $secondary;
}
.footer__paragraph {
  font-weight: bold;
  color: $text;
  font-size: 14px;
}
